<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Navbar?</title>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!---favicon script-->
  <link rel="shortcut icon" type="image/png" href="/images/logo.png" />

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
  <script type="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <script src="/scripts/navbar.js"></script>


  <!-- Custom CSS -->
  <link href="/styles/main.css" rel="stylesheet" type="text/css">
  <link href="/styles/navbar.css" rel="stylesheet" type="text/css">

  <!-- Bootstrap Style Sheets -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">



</head>


<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Overwatch Strategy Planner</a>




  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">


    <ul class="navbar-nav ml-auto">
      <div>
        <span class="navbar-text username">
          <%= username %>
        </span>
      </div>
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" id="login-button" href="#">Login</a>
          <a class="dropdown-item" id="register-button" href="#">Register</a>
          <% if (username !== undefined) { %>
            <a class="dropdown-item" id="new-plan-button" href="#">New Plan</a>
            <a class="dropdown-item" id="logout-button" href="#">Logout</a>
          <% } %>
        </div>
      </div>
    </ul>
  </div>

  <!-- The Modal -->
  <div id="register-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

      <form>
        <div class="form-group">
          <label for="register-username">Username</label>
          <input type="text" class="form-control" id="register-username" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password1" placeholder="Password">

          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control" id="password2" placeholder="Confirm Password">

        </div>
        <button type="submit" class="btn btn-primary register-submit">Submit</button>
        <button type="button" class="btn btn-default close-button">Cancel</button>
      </form>

      <div class="register-alert"></div>

    </div>

  </div>


  <!-- The Modal -->
  <div id="login-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <form>
        <div class="form-group">
          <label for="login-username username">Username</label>
          <input type="text" class="form-control" id="login-username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="login-password">Password</label>
          <input type="password" class="form-control" id="login-password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary login-submit">Submit</button>
        <button type="button" class="btn btn-default close-button">Cancel</button>
      </form>

      <div class="login-alert"></div>

    </div>
  </div>


  <!-- The Modal -->
  <div id="new-plan-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <form id="new-plan-form">
        <div class="form-group">
          <label for="plan-name">Plan Name</label>
          <input type="text" class="form-control" id="plan-name">
          <label for="plan-description">Plan Description</label>
          <input type="text" class="form-control" id="plan-description">
          <div class = "form-group">
            <input type="radio" name="marker-type" id="control" value="Teammates"> Control
            <input type="radio" name="marker-type" id="escort"  value="Enemy"> Escort
            <input type="radio" name="marker-type" id="assault"  value="Other"> Assault
            <input type="radio" name="marker-type" id="hybrid"  value="Other"> Hybrid
          </div>
        </div>
        <select class="form-control" id="map-type-select">
        </select>

        <input type="submit" class="btn btn-success submit-button" id="submit-button"></input>
        <button type="button" class="btn btn-default close-button" id="close-button">Cancel</button>
      </form>
      <div id="new-plan-alert"></div>
    </div>
  </div>






</nav>

