/* The Modal (background) */
.tool-tip-image{
  display: block;
  max-width:200;
  max-height:200px;
  width: auto;
  height: auto;
}

#toggle-off{
  display:none;
}

#save{
  display:none;
}

.card{
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
}

.media-body{
  margin-left: 5px;
}

.button-container{
  position:absolute;
  bottom: 55px;
}
